<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!-- 
	Source: https://github.com/koeberlin/Latin-Character-Sets
	Version 1.0.0
-->
<array>
	<dict>
		<key>list</key>
		<array>
			<string>A</string>
			<string>Aacute</string>
			<string>Abreve</string>
			<string>Acaron</string>
			<string>Acircumflex</string>
			<string>Adieresis</string>
			<string>Adotbelow</string>
			<string>Agrave</string>
			<string>Amacron</string>
			<string>Aogonek</string>
			<string>Aring</string>
			<string>Atilde</string>
			<string>AE</string>
			<string>B</string>
			<string>Bdotbelow</string>
			<string>Bhook</string>
			<string>C</string>
			<string>Cacute</string>
			<string>Ccaron</string>
			<string>Ccedilla</string>
			<string>Ccircumflex</string>
			<string>Cdotaccent</string>
			<string>D</string>
			<string>Dcaron</string>
			<string>Dcroat</string>
			<string>Ddotbelow</string>
			<string>Dhook</string>
			<string>Eth</string>
			<string>E</string>
			<string>Eacute</string>
			<string>Ebreve</string>
			<string>Ecaron</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Edotaccent</string>
			<string>Edotbelow</string>
			<string>Egrave</string>
			<string>Emacron</string>
			<string>Eogonek</string>
			<string>Eopen</string>
			<string>Ereversed</string>
			<string>Etilde</string>
			<string>Schwa</string>
			<string>F</string>
			<string>G</string>
			<string>Gbreve</string>
			<string>Gcaron</string>
			<string>Gcircumflex</string>
			<string>Gcommaaccent</string>
			<string>Gdotaccent</string>
			<string>Gmacron</string>
			<string>H</string>
			<string>Hbar</string>
			<string>Hcircumflex</string>
			<string>Hdieresis</string>
			<string>Hdotbelow</string>
			<string>I</string>
			<string>Iacute</string>
			<string>Ibreve</string>
			<string>Icaron</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Idotaccent</string>
			<string>Idotbelow</string>
			<string>Igrave</string>
			<string>Imacron</string>
			<string>Iogonek</string>
			<string>Istroke</string>
			<string>Itilde</string>
			<string>J</string>
			<string>Jcircumflex</string>
			<string>K</string>
			<string>Kcommaaccent</string>
			<string>Khook</string>
			<string>L</string>
			<string>Lacute</string>
			<string>Lcaron</string>
			<string>Lcommaaccent</string>
			<string>Lslash</string>
			<string>M</string>
			<string>N</string>
			<string>Nacute</string>
			<string>Ncaron</string>
			<string>Ncommaaccent</string>
			<string>Ndotaccent</string>
			<string>Ndotbelow</string>
			<string>Nhookleft</string>
			<string>Ntilde</string>
			<string>Eng</string>
			<string>O</string>
			<string>Oacute</string>
			<string>Obreve</string>
			<string>Ocaron</string>
			<string>Ocircumflex</string>
			<string>Odieresis</string>
			<string>Odotbelow</string>
			<string>Ograve</string>
			<string>Ohungarumlaut</string>
			<string>Omacron</string>
			<string>Oopen</string>
			<string>Oslash</string>
			<string>Otilde</string>
			<string>OE</string>
			<string>P</string>
			<string>Pdotaccent</string>
			<string>Thorn</string>
			<string>Q</string>
			<string>R</string>
			<string>Racute</string>
			<string>Rcaron</string>
			<string>Rcommaaccent</string>
			<string>S</string>
			<string>Sacute</string>
			<string>Scaron</string>
			<string>Scedilla</string>
			<string>Scircumflex</string>
			<string>Scommaaccent</string>
			<string>Sdotbelow</string>
			<string>Germandbls</string>
			<string>T</string>
			<string>Tcaron</string>
			<string>Tcedilla</string>
			<string>Tcommaaccent</string>
			<string>U</string>
			<string>Uacute</string>
			<string>Ubreve</string>
			<string>Ucaron</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Udotbelow</string>
			<string>Ugrave</string>
			<string>Uhungarumlaut</string>
			<string>Umacron</string>
			<string>Uogonek</string>
			<string>Uring</string>
			<string>Utilde</string>
			<string>V</string>
			<string>Vturned</string>
			<string>W</string>
			<string>Wacute</string>
			<string>Wcircumflex</string>
			<string>Wdieresis</string>
			<string>Wgrave</string>
			<string>X</string>
			<string>Xdieresis</string>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ycircumflex</string>
			<string>Ydieresis</string>
			<string>Ygrave</string>
			<string>Yhook</string>
			<string>Ymacron</string>
			<string>Ytilde</string>
			<string>Z</string>
			<string>Zacute</string>
			<string>Zcaron</string>
			<string>Zdotaccent</string>
			<string>Zdotbelow</string>
			<string>L_periodcentered.loclCAT</string>
			<string>a</string>
			<string>aacute</string>
			<string>abreve</string>
			<string>acaron</string>
			<string>acircumflex</string>
			<string>adieresis</string>
			<string>adotbelow</string>
			<string>agrave</string>
			<string>amacron</string>
			<string>aogonek</string>
			<string>aring</string>
			<string>atilde</string>
			<string>ae</string>
			<string>b</string>
			<string>bdotbelow</string>
			<string>bhook</string>
			<string>c</string>
			<string>cacute</string>
			<string>ccaron</string>
			<string>ccedilla</string>
			<string>ccircumflex</string>
			<string>cdotaccent</string>
			<string>d</string>
			<string>dcaron</string>
			<string>dcroat</string>
			<string>ddotbelow</string>
			<string>dhook</string>
			<string>eth</string>
			<string>e</string>
			<string>eacute</string>
			<string>ebreve</string>
			<string>ecaron</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>edotaccent</string>
			<string>edotbelow</string>
			<string>egrave</string>
			<string>emacron</string>
			<string>eogonek</string>
			<string>eopen</string>
			<string>etilde</string>
			<string>eturned</string>
			<string>schwa</string>
			<string>f</string>
			<string>g</string>
			<string>gbreve</string>
			<string>gcaron</string>
			<string>gcircumflex</string>
			<string>gcommaaccent</string>
			<string>gdotaccent</string>
			<string>gmacron</string>
			<string>h</string>
			<string>hbar</string>
			<string>hcircumflex</string>
			<string>hdieresis</string>
			<string>hdotbelow</string>
			<string>i</string>
			<string>idotless</string>
			<string>iacute</string>
			<string>ibreve</string>
			<string>icaron</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>idotbelow</string>
			<string>igrave</string>
			<string>imacron</string>
			<string>iogonek</string>
			<string>istroke</string>
			<string>itilde</string>
			<string>j</string>
			<string>jdotless</string>
			<string>jcircumflex</string>
			<string>k</string>
			<string>kcommaaccent</string>
			<string>khook</string>
			<string>l</string>
			<string>lacute</string>
			<string>lcaron</string>
			<string>lcommaaccent</string>
			<string>lslash</string>
			<string>m</string>
			<string>n</string>
			<string>nacute</string>
			<string>ncaron</string>
			<string>ncommaaccent</string>
			<string>ndotaccent</string>
			<string>ndotbelow</string>
			<string>nhookleft</string>
			<string>ntilde</string>
			<string>eng</string>
			<string>o</string>
			<string>oacute</string>
			<string>obreve</string>
			<string>ocaron</string>
			<string>ocircumflex</string>
			<string>odieresis</string>
			<string>odotbelow</string>
			<string>ograve</string>
			<string>ohungarumlaut</string>
			<string>omacron</string>
			<string>oopen</string>
			<string>oslash</string>
			<string>otilde</string>
			<string>oe</string>
			<string>p</string>
			<string>pdotaccent</string>
			<string>thorn</string>
			<string>q</string>
			<string>r</string>
			<string>racute</string>
			<string>rcaron</string>
			<string>rcommaaccent</string>
			<string>s</string>
			<string>sacute</string>
			<string>scaron</string>
			<string>scedilla</string>
			<string>scircumflex</string>
			<string>scommaaccent</string>
			<string>sdotbelow</string>
			<string>germandbls</string>
			<string>t</string>
			<string>tcaron</string>
			<string>tcedilla</string>
			<string>tcommaaccent</string>
			<string>u</string>
			<string>uacute</string>
			<string>ubreve</string>
			<string>ucaron</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>udotbelow</string>
			<string>ugrave</string>
			<string>uhungarumlaut</string>
			<string>umacron</string>
			<string>uogonek</string>
			<string>uring</string>
			<string>utilde</string>
			<string>v</string>
			<string>vturned</string>
			<string>w</string>
			<string>wacute</string>
			<string>wcircumflex</string>
			<string>wdieresis</string>
			<string>wgrave</string>
			<string>x</string>
			<string>xdieresis</string>
			<string>y</string>
			<string>yacute</string>
			<string>ycircumflex</string>
			<string>ydieresis</string>
			<string>ygrave</string>
			<string>yhook</string>
			<string>ymacron</string>
			<string>ytilde</string>
			<string>z</string>
			<string>zacute</string>
			<string>zcaron</string>
			<string>zdotaccent</string>
			<string>zdotbelow</string>
			<string>l_periodcentered.loclCAT</string>
			<string>cedi</string>
			<string>colonsign</string>
			<string>guarani</string>
			<string>liraTurkish</string>
			<string>manat</string>
			<string>naira</string>
			<string>rupeeIndian</string>
			<string>dieresiscomb</string>
			<string>dotaccentcomb</string>
			<string>gravecomb</string>
			<string>acutecomb</string>
			<string>hungarumlautcomb</string>
			<string>circumflexcomb</string>
			<string>caroncomb</string>
			<string>brevecomb</string>
			<string>ringcomb</string>
			<string>tildecomb</string>
			<string>macroncomb</string>
			<string>commaturnedabovecomb</string>
			<string>dotbelowcomb</string>
			<string>commaaccentcomb</string>
			<string>cedillacomb</string>
			<string>ogonekcomb</string>
			<string>strokeshortcomb</string>
			<string>apostrophemod</string>
			<string>commaturnedmod</string>
		</array>
		<key>name</key>
		<string>Latin S</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>Abreveacute</string>
			<string>Abrevedotbelow</string>
			<string>Abrevegrave</string>
			<string>Abrevehookabove</string>
			<string>Abrevetilde</string>
			<string>Acircumflexacute</string>
			<string>Acircumflexdotbelow</string>
			<string>Acircumflexgrave</string>
			<string>Acircumflexhookabove</string>
			<string>Acircumflextilde</string>
			<string>Adieresismacron</string>
			<string>Adotaccent</string>
			<string>Ahookabove</string>
			<string>Aringacute</string>
			<string>AEacute</string>
			<string>AEmacron</string>
			<string>Bdotaccent</string>
			<string>Blinebelow</string>
			<string>Chook</string>
			<string>Dcedilla</string>
			<string>Ddotaccent</string>
			<string>Dlinebelow</string>
			<string>Ecedilla</string>
			<string>Ecedillabreve</string>
			<string>Ecircumflexacute</string>
			<string>Ecircumflexdotbelow</string>
			<string>Ecircumflexgrave</string>
			<string>Ecircumflexhookabove</string>
			<string>Ecircumflextilde</string>
			<string>Ehookabove</string>
			<string>Emacronacute</string>
			<string>Ezh</string>
			<string>Ezhcaron</string>
			<string>Fdotaccent</string>
			<string>Gacute</string>
			<string>Gstroke</string>
			<string>Hbrevebelow</string>
			<string>Hcaron</string>
			<string>Hcedilla</string>
			<string>Hdotaccent</string>
			<string>Ihookabove</string>
			<string>Idieresisacute</string>
			<string>IJ</string>
			<string>Kacute</string>
			<string>Kcaron</string>
			<string>Kdotbelow</string>
			<string>Klinebelow</string>
			<string>Ldot</string>
			<string>Ldotbelow</string>
			<string>Ldotbelowmacron</string>
			<string>Llinebelow</string>
			<string>Mdotaccent</string>
			<string>Mdotbelow</string>
			<string>Ngrave</string>
			<string>Nlinebelow</string>
			<string>Ocircumflexacute</string>
			<string>Ocircumflexdotbelow</string>
			<string>Ocircumflexgrave</string>
			<string>Ocircumflexhookabove</string>
			<string>Ocircumflextilde</string>
			<string>Odieresismacron</string>
			<string>Odotaccent</string>
			<string>Odotaccentmacron</string>
			<string>Ohookabove</string>
			<string>Ohorn</string>
			<string>Ohornacute</string>
			<string>Ohorndotbelow</string>
			<string>Ohorngrave</string>
			<string>Ohornhookabove</string>
			<string>Ohorntilde</string>
			<string>Omacronacute</string>
			<string>Oogonek</string>
			<string>Oogonekmacron</string>
			<string>Oslashacute</string>
			<string>Otildemacron</string>
			<string>Pacute</string>
			<string>Rdotaccent</string>
			<string>Rdotbelow</string>
			<string>Rdotbelowmacron</string>
			<string>Rinvertedbreve</string>
			<string>Rlinebelow</string>
			<string>Sdotaccent</string>
			<string>Tbar</string>
			<string>Tdotaccent</string>
			<string>Tdotbelow</string>
			<string>Tlinebelow</string>
			<string>Udieresisacute</string>
			<string>Udieresiscaron</string>
			<string>Udieresisgrave</string>
			<string>Udieresismacron</string>
			<string>Uhookabove</string>
			<string>Uhorn</string>
			<string>Uhornacute</string>
			<string>Uhorndotbelow</string>
			<string>Uhorngrave</string>
			<string>Uhornhookabove</string>
			<string>Uhorntilde</string>
			<string>Wdotaccent</string>
			<string>Wdotbelow</string>
			<string>Ydotaccent</string>
			<string>Ydotbelow</string>
			<string>Yhookabove</string>
			<string>Zcircumflex</string>
			<string>Zlinebelow</string>
			<string>abreveacute</string>
			<string>abrevedotbelow</string>
			<string>abrevegrave</string>
			<string>abrevehookabove</string>
			<string>abrevetilde</string>
			<string>acircumflexacute</string>
			<string>acircumflexdotbelow</string>
			<string>acircumflexgrave</string>
			<string>acircumflexhookabove</string>
			<string>acircumflextilde</string>
			<string>adieresismacron</string>
			<string>adotaccent</string>
			<string>ahookabove</string>
			<string>aringacute</string>
			<string>aeacute</string>
			<string>aemacron</string>
			<string>bdotaccent</string>
			<string>blinebelow</string>
			<string>chook</string>
			<string>dcedilla</string>
			<string>ddotaccent</string>
			<string>dlinebelow</string>
			<string>ecedilla</string>
			<string>ecedillabreve</string>
			<string>ecircumflexacute</string>
			<string>ecircumflexdotbelow</string>
			<string>ecircumflexgrave</string>
			<string>ecircumflexhookabove</string>
			<string>ecircumflextilde</string>
			<string>ehookabove</string>
			<string>emacronacute</string>
			<string>ezh</string>
			<string>ezhcaron</string>
			<string>fdotaccent</string>
			<string>gacute</string>
			<string>gstroke</string>
			<string>hbrevebelow</string>
			<string>hcaron</string>
			<string>hcedilla</string>
			<string>hdotaccent</string>
			<string>hlinebelow</string>
			<string>idieresisacute</string>
			<string>ihookabove</string>
			<string>ij</string>
			<string>jcaron</string>
			<string>kacute</string>
			<string>kcaron</string>
			<string>kdotbelow</string>
			<string>kgreenlandic</string>
			<string>klinebelow</string>
			<string>ldot</string>
			<string>ldotbelow</string>
			<string>ldotbelowmacron</string>
			<string>llinebelow</string>
			<string>mdotaccent</string>
			<string>mdotbelow</string>
			<string>napostrophe</string>
			<string>ngrave</string>
			<string>nlinebelow</string>
			<string>ocircumflexacute</string>
			<string>ocircumflexdotbelow</string>
			<string>ocircumflexgrave</string>
			<string>ocircumflexhookabove</string>
			<string>ocircumflextilde</string>
			<string>odieresismacron</string>
			<string>odotaccent</string>
			<string>odotaccentmacron</string>
			<string>ohookabove</string>
			<string>ohorn</string>
			<string>ohornacute</string>
			<string>ohorndotbelow</string>
			<string>ohorngrave</string>
			<string>ohornhookabove</string>
			<string>ohorntilde</string>
			<string>omacronacute</string>
			<string>oogonek</string>
			<string>oogonekmacron</string>
			<string>oslashacute</string>
			<string>otildemacron</string>
			<string>pacute</string>
			<string>rdotaccent</string>
			<string>rdotbelow</string>
			<string>rdotbelowmacron</string>
			<string>rinvertedbreve</string>
			<string>rlinebelow</string>
			<string>sdotaccent</string>
			<string>tbar</string>
			<string>tdieresis</string>
			<string>tdotaccent</string>
			<string>tdotbelow</string>
			<string>tlinebelow</string>
			<string>udieresisacute</string>
			<string>udieresiscaron</string>
			<string>udieresisgrave</string>
			<string>udieresismacron</string>
			<string>uhookabove</string>
			<string>uhorn</string>
			<string>uhornacute</string>
			<string>uhorndotbelow</string>
			<string>uhorngrave</string>
			<string>uhornhookabove</string>
			<string>uhorntilde</string>
			<string>wdotaccent</string>
			<string>wdotbelow</string>
			<string>ydotaccent</string>
			<string>ydotbelow</string>
			<string>yhookabove</string>
			<string>zcircumflex</string>
			<string>zlinebelow</string>
			<string>dong</string>
			<string>hookabovecomb</string>
			<string>verticallineabovecomb</string>
			<string>candraBinducomb</string>
			<string>commaaboverightcomb</string>
			<string>horncomb</string>
			<string>ringbelowcomb</string>
			<string>brevebelowcomb</string>
			<string>macronbelowcomb</string>
			<string>doublemacronbelowcomb</string>
			<string>brevecomb_acutecomb</string>
			<string>brevecomb_gravecomb</string>
			<string>brevecomb_hookabovecomb</string>
			<string>brevecomb_tildecomb</string>
			<string>circumflexcomb_acutecomb</string>
			<string>circumflexcomb_gravecomb</string>
			<string>circumflexcomb_hookabovecomb</string>
			<string>circumflexcomb_tildecomb</string>
			<string>doubleprimemod</string>
			<string>primemod</string>
			<string>ringhalfleft</string>
			<string>ringhalfright</string>
			<string>verticallinelowmod</string>
			<string>verticallinemod</string>
		</array>
		<key>name</key>
		<string>Latin M</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>Adblgrave</string>
			<string>Adotmacron</string>
			<string>Ainvertedbreve</string>
			<string>Alpha-latin</string>
			<string>Alphaturned-latin</string>
			<string>Aogonek.loclNAV</string>
			<string>Aringbelow</string>
			<string>Astroke</string>
			<string>Aturned</string>
			<string>Beta-latin</string>
			<string>Bstroke</string>
			<string>Btopbar</string>
			<string>Ccedillaacute</string>
			<string>Chi-latin</string>
			<string>Cstroke</string>
			<string>DZ</string>
			<string>DZcaron</string>
			<string>Dafrican</string>
			<string>Dcircumflexbelow</string>
			<string>Dshortstrokeoverlay</string>
			<string>Dz</string>
			<string>Dzcaron</string>
			<string>Ecircumflexbelow</string>
			<string>Edblgrave</string>
			<string>Einvertedbreve</string>
			<string>Emacrongrave</string>
			<string>Eogonek.loclNAV</string>
			<string>Esh</string>
			<string>Estroke</string>
			<string>Etildebelow</string>
			<string>Ezhreversed</string>
			<string>FStroke</string>
			<string>Fhook</string>
			<string>Ghook</string>
			<string>Glottalstop</string>
			<string>Gscript</string>
			<string>Yogh</string>
			<string>Heng</string>
			<string>Hhook</string>
			<string>Hturned</string>
			<string>Idblgrave</string>
			<string>Iinvertedbreve</string>
			<string>Iotaafrican</string>
			<string>Itildebelow</string>
			<string>Jcrossedtail</string>
			<string>Jstroke</string>
			<string>Kstroke</string>
			<string>LJ</string>
			<string>Lambda-latin</string>
			<string>Lambdastroke-latin</string>
			<string>Lbar</string>
			<string>Lbelt</string>
			<string>Lcircumflexbelow</string>
			<string>Lcommaaccent.loclMAH</string>
			<string>Ldoublebar</string>
			<string>Lj</string>
			<string>Lmiddletilde</string>
			<string>Macute</string>
			<string>Mhook</string>
			<string>Mturned</string>
			<string>NJ</string>
			<string>Ncircumflexbelow</string>
			<string>Ncommaaccent.loclMAH</string>
			<string>Nj</string>
			<string>Nlongrightleg</string>
			<string>Eng.loclNSM</string>
			<string>OU</string>
			<string>Ocenteredtilde</string>
			<string>Odblgrave</string>
			<string>Oinvertedbreve</string>
			<string>Omacrongrave</string>
			<string>Omega-latin</string>
			<string>Otildeacute</string>
			<string>Otildedieresis</string>
			<string>Phook</string>
			<string>Pstroke</string>
			<string>Qhooktail</string>
			<string>Ramshorn</string>
			<string>Rdblgrave</string>
			<string>Rstroke</string>
			<string>Rtail</string>
			<string>Sacutedotaccent</string>
			<string>Scarondotaccent</string>
			<string>Sdotbelowdotaccent</string>
			<string>Sobliquestroke</string>
			<string>Sslash</string>
			<string>Tcircumflexbelow</string>
			<string>Tdiagonalstroke</string>
			<string>Thook</string>
			<string>Tretroflexhook</string>
			<string>Ubar</string>
			<string>Ucircumflexbelow</string>
			<string>Udblgrave</string>
			<string>Udieresisbelow</string>
			<string>Uinvertedbreve</string>
			<string>Umacrondieresis</string>
			<string>Upsilonafrican</string>
			<string>Utildeacute</string>
			<string>Utildebelow</string>
			<string>Gammaafrican</string>
			<string>Vdotbelow</string>
			<string>Vhook</string>
			<string>Vtilde</string>
			<string>Whook</string>
			<string>Xdotaccent</string>
			<string>Yr</string>
			<string>Ystroke</string>
			<string>Zstroke</string>
			<string>Saltillo</string>
			<string>Udiagonalstroke</string>
			<string>uniA7AE</string>
			<string>Gsmall</string>
			<string>Ismall</string>
			<string>Ismallstroke</string>
			<string>Rsmall</string>
			<string>adblgrave</string>
			<string>adotmacron</string>
			<string>ainvertedbreve</string>
			<string>alpha-latin</string>
			<string>alphaturned-latin</string>
			<string>aogonek.loclNAV</string>
			<string>arighthalfring</string>
			<string>aringbelow</string>
			<string>astroke</string>
			<string>aturned</string>
			<string>beta-latin</string>
			<string>bilabialclick</string>
			<string>bstroke</string>
			<string>btopbar</string>
			<string>ccedillaacute</string>
			<string>chi-latin</string>
			<string>cstroke</string>
			<string>dbdigraph</string>
			<string>dcircumflexbelow</string>
			<string>dshortstrokeoverlay</string>
			<string>dtail</string>
			<string>dz</string>
			<string>dzcaron</string>
			<string>ecircumflexbelow</string>
			<string>edblgrave</string>
			<string>einvertedbreve</string>
			<string>emacrongrave</string>
			<string>eogonek.loclNAV</string>
			<string>esh</string>
			<string>eshreversedloop</string>
			<string>estroke</string>
			<string>etildebelow</string>
			<string>ezhreversed</string>
			<string>fStroke</string>
			<string>gamma-latin</string>
			<string>ghook</string>
			<string>glottalstop</string>
			<string>glottalstopreversed</string>
			<string>glottalstopsmall</string>
			<string>gsingle</string>
			<string>yogh</string>
			<string>heng</string>
			<string>henghook</string>
			<string>hhook</string>
			<string>hturned</string>
			<string>idblgrave</string>
			<string>iinvertedbreve</string>
			<string>iota-latin</string>
			<string>itildebelow</string>
			<string>jcrossedtail</string>
			<string>jdotlessstroke</string>
			<string>jdotlessstrokehook</string>
			<string>jstroke</string>
			<string>kstroke</string>
			<string>lambda-latin</string>
			<string>lambdastroke</string>
			<string>lbar</string>
			<string>lbelt</string>
			<string>lcircumflexbelow</string>
			<string>lcommaaccent.loclMAH</string>
			<string>ldoublebar</string>
			<string>lj</string>
			<string>lmiddletilde</string>
			<string>longsdotaccent</string>
			<string>macute</string>
			<string>mhook</string>
			<string>mturned</string>
			<string>ncircumflexbelow</string>
			<string>ncommaaccent.loclMAH</string>
			<string>nj</string>
			<string>nlegrightlong</string>
			<string>obarred</string>
			<string>odblgrave</string>
			<string>oinvertedbreve</string>
			<string>omacrongrave</string>
			<string>omega-latin</string>
			<string>otildeacute</string>
			<string>otildedieresis</string>
			<string>ou</string>
			<string>phi-latin</string>
			<string>phook</string>
			<string>pstroke</string>
			<string>qhooktail</string>
			<string>qpdigraph</string>
			<string>ramshorn</string>
			<string>rdblgrave</string>
			<string>rfishhook</string>
			<string>rhook</string>
			<string>rstroke</string>
			<string>sacutedotaccent</string>
			<string>scarondotaccent</string>
			<string>sdotbelowdotaccent</string>
			<string>sobliquestroke</string>
			<string>sslash</string>
			<string>longs</string>
			<string>tcircumflexbelow</string>
			<string>tdiagonalstroke</string>
			<string>tesh</string>
			<string>thook</string>
			<string>tretroflexhook</string>
			<string>ubar</string>
			<string>ucircumflexbelow</string>
			<string>udblgrave</string>
			<string>udieresisbelow</string>
			<string>uinvertedbreve</string>
			<string>umacrondieresis</string>
			<string>upsilon-latin</string>
			<string>utildeacute</string>
			<string>utildebelow</string>
			<string>vdotbelow</string>
			<string>vhook</string>
			<string>vtilde</string>
			<string>whook</string>
			<string>wring</string>
			<string>xdotaccent</string>
			<string>yring</string>
			<string>ystroke</string>
			<string>yturned</string>
			<string>zstroke</string>
			<string>saltillo</string>
			<string>florin</string>
			<string>idotlessdotbelow</string>
			<string>idotlessogonek</string>
			<string>idotlesstildebelow</string>
			<string>jcrossedtaildotless</string>
			<string>udiagonalstroke</string>
			<string>ainferior</string>
			<string>einferior</string>
			<string>oinferior</string>
			<string>schwainferior</string>
			<string>xinferior</string>
			<string>clickalveolar</string>
			<string>clickdental</string>
			<string>clicklateral</string>
			<string>clickretroflex</string>
			<string>hhookmod</string>
			<string>hmod</string>
			<string>imod</string>
			<string>jmod</string>
			<string>lmod</string>
			<string>nmod</string>
			<string>rmod</string>
			<string>smod</string>
			<string>wmod</string>
			<string>xmod</string>
			<string>ymod</string>
			<string>Beta</string>
			<string>Epsilon</string>
			<string>Theta</string>
			<string>Lambda</string>
			<string>Omega</string>
			<string>beta</string>
			<string>epsilon</string>
			<string>theta</string>
			<string>lambda</string>
			<string>omega</string>
			<string>hinferior</string>
			<string>kinferior</string>
			<string>linferior</string>
			<string>minferior</string>
			<string>ninferior</string>
			<string>pinferior</string>
			<string>sinferior</string>
			<string>tinferior</string>
			<string>amod</string>
			<string>dmod</string>
			<string>eOpenmod</string>
			<string>emod</string>
			<string>istrokemod</string>
			<string>oOpenmod</string>
			<string>omod</string>
			<string>thetamod</string>
			<string>tmod</string>
			<string>ubarmod</string>
			<string>umod</string>
			<string>vmod</string>
			<string>zmod</string>
			<string>undertie</string>
			<string>gammamod-latin</string>
			<string>colonmod</string>
			<string>doubleapostrophemod</string>
			<string>minusmod</string>
			<string>shortequalmod</string>
			<string>voicingmod</string>
			<string>A.circled</string>
			<string>a.circled</string>
			<string>midlinehorizontalellipsis</string>
			<string>rbelowcomb</string>
			<string>perispomenicomb</string>
			<string>dieresiscomb_gravecomb</string>
			<string>dieresiscomb_acutecomb</string>
			<string>dieresiscomb_caroncomb</string>
			<string>dieresiscomb_macroncomb</string>
			<string>dotaccentcomb_macroncomb</string>
			<string>gravecomb_macroncomb</string>
			<string>acutecomb_dotaccentcomb</string>
			<string>acutecomb_macroncomb</string>
			<string>caroncomb_dotaccentcomb</string>
			<string>tildecomb_dieresiscomb</string>
			<string>tildecomb_acutecomb</string>
			<string>tildecomb_macroncomb</string>
			<string>macroncomb_dieresiscomb</string>
			<string>macroncomb_gravecomb</string>
			<string>macroncomb_acutecomb</string>
			<string>dblgravecomb</string>
			<string>breveinvertedcomb</string>
			<string>commaabovecomb</string>
			<string>minusbelowcomb</string>
			<string>dieresisbelowcomb</string>
			<string>verticallinebelowcomb</string>
			<string>circumflexbelowcomb</string>
			<string>breveinvertedbelowcomb</string>
			<string>tildebelowcomb</string>
			<string>lowlinecomb</string>
			<string>tildeoverlaycomb</string>
			<string>slashshortcomb</string>
			<string>slashlongcomb</string>
			<string>dotaboverightcomb</string>
			<string>doublebrevebelowcomb</string>
			<string>doublebrevecomb</string>
			<string>breveinverteddoublecomb</string>
			<string>acutemacroncomb</string>
			<string>gravemacroncomb</string>
			<string>macronacutecomb</string>
			<string>macrongravecomb</string>
			<string>firsttonechinese</string>
			<string>secondtonechinese</string>
			<string>fourthtonechinese</string>
			<string>colontriangularhalfmod</string>
			<string>colontriangularmod</string>
			<string>glottalstopmod</string>
			<string>glottalstopreversedmod</string>
		</array>
		<key>name</key>
		<string>Latin L</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>Eopenreversed</string>
			<string>Kturned</string>
			<string>Sswashtail</string>
			<string>Tturned</string>
			<string>Zswashtail</string>
			<string>Bsmall</string>
			<string>Dsmall</string>
			<string>Gsmallhook</string>
			<string>Hsmall</string>
			<string>Lsmall</string>
			<string>Nsmall</string>
			<string>OEsmall</string>
			<string>Rsmallinverted</string>
			<string>Usmallstroke</string>
			<string>Ysmall</string>
			<string>alpharetroflexhook</string>
			<string>aretroflexhook</string>
			<string>bidentalpercussive</string>
			<string>bilabialpercussive</string>
			<string>bmiddletilde</string>
			<string>bpalatalhook</string>
			<string>ccurl</string>
			<string>cstretched</string>
			<string>dezh</string>
			<string>dhookandtail</string>
			<string>dmiddletilde</string>
			<string>dpalatalhook</string>
			<string>dzaltone</string>
			<string>dzcurl</string>
			<string>eopenclosed</string>
			<string>eopenretroflexhook</string>
			<string>eopenreversed</string>
			<string>eopenreversedclosed</string>
			<string>eopenreversedhook</string>
			<string>eopenreversedretroflexhook</string>
			<string>eretroflexhook</string>
			<string>ereversed</string>
			<string>eshcurl</string>
			<string>eshpalatalhook</string>
			<string>eshretroflexhook</string>
			<string>eshsquatreversed</string>
			<string>schwahook</string>
			<string>ezhcurl</string>
			<string>ezhretroflexhook</string>
			<string>fengdigraph</string>
			<string>fmiddletilde</string>
			<string>fpalatalhook</string>
			<string>glottalstopinverted</string>
			<string>glottalstopstroke</string>
			<string>glottalstopstrokereversed</string>
			<string>gpalatalhook</string>
			<string>hturnedfishhook</string>
			<string>hturnedfishhookandtail</string>
			<string>iotastroke</string>
			<string>kpalatalhook</string>
			<string>kturned</string>
			<string>lezh</string>
			<string>lhookretroflex</string>
			<string>lpalatalhook</string>
			<string>lretroflexhookandbelt</string>
			<string>lsdigraph</string>
			<string>lzdigraph</string>
			<string>mlonglegturned</string>
			<string>mmiddletilde</string>
			<string>mpalatalhook</string>
			<string>nhookretroflex</string>
			<string>nmiddletilde</string>
			<string>npalatalhook</string>
			<string>omegaclosed-latin</string>
			<string>oopenretroflexhook</string>
			<string>pmiddletilde</string>
			<string>ppalatalhook</string>
			<string>qhook</string>
			<string>rfishhookmiddletilde</string>
			<string>rfishhookreversed</string>
			<string>rhookturned</string>
			<string>rlongleg</string>
			<string>rlonglegturned</string>
			<string>rmiddletilde</string>
			<string>rpalatalhook</string>
			<string>rturned</string>
			<string>schwaretroflexhook</string>
			<string>shook</string>
			<string>smiddletilde</string>
			<string>spalatalhook</string>
			<string>sswashtail</string>
			<string>tccurl</string>
			<string>tmiddletilde</string>
			<string>ts</string>
			<string>tturned</string>
			<string>uretroflexhook</string>
			<string>vpalatalhook</string>
			<string>vrighthook</string>
			<string>wturned</string>
			<string>xpalatalhook</string>
			<string>zcurl</string>
			<string>zmiddletilde</string>
			<string>zpalatalhook</string>
			<string>zretroflexhook</string>
			<string>zswashtail</string>
			<string>Rsmallinvertedmod</string>
			<string>alphamod-latin</string>
			<string>alphaturnedmod-latin</string>
			<string>phiModifier-latin</string>
			<string>rhookturnedmod</string>
			<string>rturnedmod</string>
			<string>gammamod</string>
			<string>phimod</string>
			<string>Ismallmod</string>
			<string>Lsmallmod</string>
			<string>Nsmallmodifier</string>
			<string>aTurnedmod</string>
			<string>aeTurnedmod</string>
			<string>barredomod</string>
			<string>betamod</string>
			<string>ccurlmod</string>
			<string>chimod</string>
			<string>cmod</string>
			<string>engmod</string>
			<string>eopenreversedmod</string>
			<string>eshmod</string>
			<string>ethmod</string>
			<string>ezhmod</string>
			<string>fmod</string>
			<string>hturnedmod</string>
			<string>jcrossedtailmod</string>
			<string>jdotlessstrokemod</string>
			<string>kmod</string>
			<string>lretroflexhookmod</string>
			<string>mTurnedmod</string>
			<string>mhookmod</string>
			<string>mlonglegturnedmod</string>
			<string>mmod</string>
			<string>nlefthookmod</string>
			<string>nretroflexhookmod</string>
			<string>oemod</string>
			<string>raiseddownarrowmod</string>
			<string>raisedexclamationmarkmod</string>
			<string>raiseduparrowmod</string>
			<string>schwamod</string>
			<string>scriptgmod</string>
			<string>shookmod</string>
			<string>upsilonmod</string>
			<string>vhookmod</string>
			<string>vturnedmod</string>
			<string>zcurlmod</string>
			<string>zretroflexhookmod</string>
			<string>lefttorightmark</string>
			<string>righttoleftmark</string>
			<string>dblverticalbar</string>
			<string>exclamdouble</string>
			<string>overline</string>
			<string>underscoredbl</string>
			<string>quotereversed</string>
			<string>quotedblrightreversed</string>
			<string>arrowheaddownmod</string>
			<string>arrowheadleftmod</string>
			<string>arrowheadrightmod</string>
			<string>arrowheadupmod</string>
			<string>beginhightonemod</string>
			<string>beginlowtonemod</string>
			<string>downtackmod</string>
			<string>endhightonemod</string>
			<string>endlowtonemod</string>
			<string>lowdownarrowheadmod</string>
			<string>lowleftarrowheadmod</string>
			<string>lowleftarrowmod</string>
			<string>lowrightarrowheadmod</string>
			<string>lowringmod</string>
			<string>lowtildemod</string>
			<string>lowuparrowheadmod</string>
			<string>middledoubleacuteaccentmod</string>
			<string>middledoublegraveaccentmod</string>
			<string>middlegraveaccentmod</string>
			<string>openshelfmod</string>
			<string>plusmod</string>
			<string>raisedcolonmod</string>
			<string>ringhalfleftcentered</string>
			<string>ringhalfrightcentered</string>
			<string>shelfmod</string>
			<string>tonebarextrahighmod</string>
			<string>tonebarextralowmod</string>
			<string>tonebarhighmod</string>
			<string>tonebarlowmod</string>
			<string>tonebarmidmod</string>
			<string>unaspiratedmod</string>
			<string>uptackmod</string>
			<string>crossaccentmod</string>
			<string>rhotichookmod</string>
			<string>glottalstopreversedsuperior</string>
			<string>replacementCharacter</string>
			<string>dottedCircle</string>
			<string>acomb</string>
			<string>ccomb</string>
			<string>dcomb</string>
			<string>ecomb</string>
			<string>hcomb</string>
			<string>icomb</string>
			<string>mcomb</string>
			<string>ocomb</string>
			<string>rcomb</string>
			<string>tcomb</string>
			<string>ucomb</string>
			<string>vcomb</string>
			<string>xcomb</string>
			<string>koroniscomb</string>
			<string>dialytikatonoscomb</string>
			<string>ypogegrammenicomb</string>
			<string>overlinecomb</string>
			<string>dblverticallineabovecomb</string>
			<string>commareversedabovecomb</string>
			<string>gravebelowcomb</string>
			<string>acutebelowcomb</string>
			<string>lefttackbelowcomb</string>
			<string>righttackbelowcomb</string>
			<string>leftangleabovecomb</string>
			<string>ringhalfleftbelowcomb</string>
			<string>uptackbelowcomb</string>
			<string>downtackbelowcomb</string>
			<string>plusbelowcomb</string>
			<string>palatalhookcomb</string>
			<string>retroflexhookcomb</string>
			<string>bridgebelowcomb</string>
			<string>dblarchinvertedbelowcomb</string>
			<string>caronbelowcomb</string>
			<string>dbllowlinecomb</string>
			<string>strokelongcomb</string>
			<string>ringhalfrightbelowcomb</string>
			<string>bridgeinvertedbelowcomb</string>
			<string>squarebelowcomb</string>
			<string>seagullbelowcomb</string>
			<string>xabovecomb</string>
			<string>tildeverticalcomb</string>
			<string>dbloverlinecomb</string>
			<string>gravetonecomb</string>
			<string>acutetonecomb</string>
			<string>gbridgeabovecomb</string>
			<string>equalbelowcomb</string>
			<string>doubleverticallinebelowcomb</string>
			<string>leftanglebelowcomb</string>
			<string>nottildeabovecomb</string>
			<string>homotheticabovecomb</string>
			<string>almostequaltoabovecomb</string>
			<string>arrowleftrightbelowcomb</string>
			<string>arrowupbelowcomb</string>
			<string>arrowheadrightabovecomb</string>
			<string>lefthalfringabovecomb</string>
			<string>fermatacomb</string>
			<string>xbelowcomb</string>
			<string>arrowheadleftbelowcomb</string>
			<string>arrowheadrightbelowcomb</string>
			<string>arrowheadrightheadupbelowcomb</string>
			<string>righthalfringabovecomb</string>
			<string>asteriskbelowcomb</string>
			<string>doubleringbelowcomb</string>
			<string>zigzagabovecomb</string>
			<string>doublemacroncomb</string>
			<string>tildedoublecomb</string>
			<string>arrowdoublerightbelowcomb</string>
			<string>acutegraveacutecomb</string>
			<string>graveacutegravecomb</string>
			<string>yindepartingtonemod</string>
			<string>yangdepartingtone</string>
			<string>acutelowmod</string>
			<string>commareversedmod</string>
			<string>gravelowmod</string>
			<string>macronlowmod</string>
		</array>
		<key>name</key>
		<string>Latin XL</string>
	</dict>
</array>
</plist>
